body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 5px;
}

.title {
  background: #e3f4ff;
  margin-bottom: 5%;
  padding: 5px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 10px 5px;
  margin-bottom: 5px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 8px;
}

button {
  background: white;
  display: block;
  border: 0px solid #eee;
  margin: 0 auto;
  padding: 8px 24px;
}